$maincolor:rgba(28, 28, 33, 0.94);
$secondcolor: rgba(247, 247, 247, 0.83);
$thirdcolor: rgba(185, 30, 23, 0.85);
$fourthcolor: rgba(52, 52, 52, 0.85);

$buttoncolor: rgba(31, 71, 240, 0.69);
$thirdtint: rgba(185,  30, 23, 0.45);

$texture: url("../img/build/14.png");
