/*========== Styling for the CV section ==========*/

.cv {
  text-align: left;
  padding: 0;
  margin: 0;

  h1, h3, h4 {
    margin: 0;
    font-weight: 100;
  }

  h2 {
    font-weight: normal;
    font-size: 24px;
    margin-top: -10px;
    color:$maincolor;
  }
}

.highlight {
  color: $thirdcolor;
  text-transform:uppercase;
}

.cv-wrapper {
  max-width: 71.5%;
  position: relative;
  margin-left: 26%;
  margin-top: 2em;
  margin-bottom:10em;
  color: $maincolor;
  background: #fff;
  padding: 0 50px;
  font-size:14px;
}

.cv-wrapper h1 {
  text-transform: uppercase;
  padding: 10px 0 ;
  margin: 0;
  font-size: 3.8em;
  line-height:1em;
  font-weight:900;
}

@media screen and (max-width: 985px) {
  .cv-wrapper {
    max-width: 100%;
    margin: 0 auto 500px;
    top: 100px;
  }
}

.experience {
  padding-bottom: 30px;
  padding-right: 35px
}

@media screen and (max-width: 985px) {
  .experience {
    padding-right: 0;
  }
}

.skills {
  padding: 0 0 0 2em;
  border-left:1px dotted $thirdcolor;
}

.skills ul {
  margin-bottom:10px;
}

.cv-title {
  margin: 10px auto;
  font-size: 22px;
  font-weight: normal;
  font-family: $light-face;
  color:$thirdcolor;

}
