.single-wrapper form label {
  font-weight: 300;
  color: $maincolor;
  text-transform: uppercase;
  font-size: 14px;
}

.BRS_field-input {
  padding: 10px 0;
  width: 100%;
}

.BRS-submit-button {
  background: $maincolor;
  border-radius: 5px;
  border: 0;
  color: #fff;
  display: inline-block;
  font-size: 1.1em;
  letter-spacing: 1px;
  margin: 10px auto 0;
  padding: 8px;
  transition: all 0.5s ease;
  font-weight: 300;
  text-transform: uppercase;
  font-family: $bold-face;
}

.BRS-submit-button:hover {
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
