.single-wrapper form label {
  font-weight: 300;
  color: $maincolor;
  text-transform: uppercase;
  font-size: 14px;
}

.BRS_field-input {
  padding: 10px 0;
  width: 100%;
}

.BRS-submit-button {
  background: $thirdcolor;
  border-radius: 5px;
  border: 0;
  color: #fff;
  display: inline-block;
  font-size: 1.1em;
  letter-spacing: 1px;
  margin: 10px auto 0;
  padding: 8px;
  transition: all 0.5s ease;
  font-weight: 300;
  text-transform: uppercase;
  font-family: $bold-face;
}

.BRS-submit-button:hover {
  background: $fourthcolor;
  cursor: pointer;
}

.portfolio-flick{
  left: 5.5%;
  margin: 0 auto;
  position: absolute;
  top: 500px;
  width: 10%;
  z-index: 800;
  background: rgba(0,0,0,0.07);
  height: 50px;
  line-height: 50px;
  border-radius: 500px;
}

.portfolio-flick a {
  position: absolute;
  display: block;
  color: #fff;
  border: 0;
  font-family: 'FontAwesome';
}

@media screen and (max-width: 985px) {
  .portfolio-flick {
    top: 64px;
    width: 15%;
    line-height:normal;
    background:none;

  }
}

@media screen and (max-width: 480px) {
  .portfolio-flick {
    width: 20%;
  }
}

.portfolio-flick .prev a {
  left: 10px;
}


.portfolio-flick .next a {

  right: 10px;
}


