/* =============================*GRID SYSTEM*============================== */

.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

.col {
  display: block;
  float: left;
  margin: 0 0 0 1.6%;
}

.col:first-child {
  margin-left: 0;
}

@media only screen and (max-width: 823px) {
  .col {
    margin: 1% 0 1% 0%;
  }
}

.span_4_of_12 {
  width: 32.24%;
}

.span_9_of_12 {
  width: 74.54%;
}

.span_3_of_12 {
  width: 23.78%;
}

.span_4_of_12:nth-child(3n+1) {
  clear: both;
  margin-left: 0;
}

@media screen and (max-width: 823px) {
  .span_4_of_12 {
    width: 49.16%;
  }
  .span_4_of_12:nth-child(2n+1) {
    clear: both;
    margin-left: 0;
  }
  .span_4_of_12:nth-child(3n+1) {
    clear: none;
    margin-left: 1.6%;
  }
  .span_9_of_12 {
    width: 100%;
  }
  .span_3_of_12 {
    width: 100%;
  }
}