.flex-friend {
  display:flex;
  align-items:center;
  justify-content:center;
  height:95%;
}

@media screen and (max-width: 823px) {
  .flex-friend{
    height:auto;
  }
}

.mainwrapper {
  max-width: 71.5%;
  position: relative;
  margin-left: 21.5%;
  color: $maincolor;
  background: $secondcolor;
}

.mainwrapper h1 {
  text-transform: uppercase;
  padding:10px 20px 0;
  margin: 0;
  font-size: 3em;
}

@media screen and (max-width: 985px) {
  .mainwrapper {
    max-width: 100%;
    margin: 0 auto 300px;
    top: 100px;
  }
}

.pholder {
  padding: 0 3em 1.5em;
}

.pholder p {
  line-height: 20px;
  text-align: justify;
  margin: 5px auto;
  padding: 0px 5% 0px 0px;
  font-size: 14px;
  font-weight: 300;
}

@media screen and (max-width: 600px) {
  .pholder {
    /* flex-direction: column-reverse;
      align-items: none;*/
  }
}
.logo i {
  font-size: 40px;
  font-weight: normal;
  padding: 0 5px;
  margin: 0 auto 10px;
}

@media screen and (max-width: 985px) {
  .logo {
    display: none;
  }
}

@media screen and (min-width: 986px) {
  #logo2 {
    display: none;
  }
}

#logo2 {
  position: relative;
  z-index: 400;
  margin:0 auto;
  padding:15px 0;
  background:$thirdcolor $texture;
  box-shadow: 0 40px 80px  #fff;
  img {
    width: 120px
  }
}

.nextprev {
  background: $thirdcolor;
  padding: 10px;
  margin-bottom: 50px; //linked to footer height
  color: #fff;

  a {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
  }
}

.gallery-wrapper {
  max-width: 70%;
  position: relative;
  margin-left: 23%;
  color: $maincolor;

    h1 {
    text-transform: uppercase;
    padding: 10px 0 0 0;
    margin: 0;
    }
}

@media screen and (max-width: 985px) {
  .gallery-wrapper {
    max-width: 100%;
    margin:0 auto;
  }
}

.gallery-pholder {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 50px;
}

.gallery-pholder p {
  line-height: 23px;
  text-align: left;
  padding: 0 2em 0.5em;
  font-weight:300;
}

@media screen and (max-width: 600px) {
  .gallery-pholder {
    flex-direction: column-reverse;
    align-items: none;
  }
}

.portfolio-wrapper {
  max-width: 100%;
  position: relative;
  margin-left: 25%;
  margin-top: 10px;
  color: $maincolor;

    h1 {
    text-transform: uppercase;
    padding: 10px 0 0 0;
    margin: 0;
    }
}

@media screen and (max-width: 985px) {
  .portfolio-wrapper {
    max-width: 100%;
    margin: 0 auto 200px;
    top: 0;
  }
}

input.button {
  background: $thirdcolor;
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 20px;
  text-align: right;
  font-size: 1em;
  text-transform: uppercase;
  transition:all 1s ease;
}

.gfield_label {
  //for gravity forms
  font-style: normal;
  text-align: left;
  font-weight: normal !important;
  font-size: 13px;
  text-transform: uppercase;
  color: $thirdcolor;
}

input.button:hover {
  cursor: pointer;
  background: $thirdtint;
  transition:all 1s ease;
}

.top-screen {
  height: 150px;
  width:100%;
  @include fade-color;
  z-index: 399;
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (min-width: 985px) {
  .top-screen {
    display: none;
  }
}

.emph {
  color:$thirdcolor;
}
