#nave {
  position: fixed !important;
  width: 20%;
  min-height: 100%;
  background: #fff;
  margin: 0;
  padding: 0;
  z-index: 5;
  left: 0;
  top: 0;
}

#nave ul {
  padding: 0 10%;
}

#nave li {
  width: 100%;
  display: block;
}

#nave a {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 30px;
  border-bottom: 1px dotted $maincolor;
}

#nave a:hover {
  color: $thirdcolor;
}

#nave li:first-child a {
  border-top: 0
}

#nave li:last-child a {
  border-bottom: 0
}

.nav-toggle {
  display: none
}

@media screen and (max-width: 985px) {
  .js #nave {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
  }
  #nave {
    top: 0;
    width: 100%;
    position: relative !important;
    left: 0px;
  }
  #nave.opened {
    max-height: 9999px
  }
  #nave a:hover {
    background: transparent
  }
  #nave .active a:hover {
    background: $thirdcolor;
  }
  .nav-toggle {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    width: 70px;
    height: 70px;
    text-indent: -9999px;
    overflow: hidden;
    background: #fff url("../img/build/hamburger.gif") no-repeat 50% 33%;
    position: absolute;
    top: -8px;
    right: 0;
    z-index: 500;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.3),
screen and (min--moz-device-pixel-ratio: 1.3),
screen and (-o-min-device-pixel-ratio: 2 / 1),
screen and (min-device-pixel-ratio: 1.3),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
  #nav-toggle {
    background-image: url("../img/build/hamburger-retina.gif");
    -webkit-background-size: 100px 100px;
    -moz-background-size: 100px 100px;
    -o-background-size: 100px 100px;
    background-size: 100px 100px;
  }
}

@media screen and (min-width: 76em) {
  #nave {
    width: 18em
  }
  .main {
    width: auto;
    left: 18em
  }
}

#deets {
  margin-top: 40px;
  text-align: left;
  padding-left: 22px;
  text-indent: -10px;
}

#deets li {
  text-transform:uppercase;
  font-size:13px;
  }

#deets li:first-child {
 padding:0.7em 0;
 font-size:14px;
  }


#deets ul li a {
  border-bottom: 1px dotted $maincolor;
  display:initial;
  font-size:13px;
  padding:0;
  margin:0;
}
