#statics {
  position: relative;
}
#statics .statics-container {
  display: none;
}
#statics .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#statics .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.statics-navigation {
    margin: 0 auto;
    position: absolute;
    z-index: 3;
    bottom: 30px;
    width: 100%;
    z-index: 20;
}
.statics-navigation a {
  position: absolute;
  display: block;
}
.statics-navigation a.prev {
  left: 10px;
}
.statics-navigation a.prev:before {
  font-family: FontAwesome;
  content:"\f060";
      padding-right:10px;
}
.statics-navigation a.next {
  right: 10px;
}
.statics-navigation a.next:after {
font-family: FontAwesome;
  content:"\f061";
      padding-left:10px;
}

.statics-pagination {
  position: absolute;
  z-index: 3;
  bottom: 0;
  text-align: center;
  width: 100%;
  display:none;
}
.statics-pagination a {
  border: 2px solid #222;
  border-radius: 15px;
  width: 10px;
  height: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");
  margin: 2px;
  overflow: hidden;
  text-indent: -100%;
}
.statics-pagination a.current {
  background: #222;
}
